.container {
    display: flex;
    align-items: center;
    height: 100px;
}

.image {
    height: 75px;
    width: 75px;
}

.title {
    flex: 2;
    font-family: sans-serif;
    font-size: 2rem;
    margin-left: 5px;
}

.overflow {
    float: right;
}

.tabs {
    margin: 0 5% 0 5%;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.card {
    margin: 0 3% 0 3%;
    box-shadow: -3px 10px 3px -5px rgba(0, 0, 0, 0.2);
}

.image-box {
    margin: 0 3% 0 3%;
    position: relative;
}

.dog-headline-image img {
    width: 100%;
    height: 50%;
}

.news {
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    color: gray;
    background-color: rgba(255, 255, 255, 1);
}

.headline {
    font-size: 1.5rem;
    margin-left: 1.5%;
}

.content {
    font-size: 1rem;
    margin-left: 1.5%;
}

.news-list .card {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

.news-list .card .top-news {
    flex: 10;
}

.news-list .card .more {
    flex: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

th, td {
    padding: 10px;
}

.weather-widget {
    margin-left: 3%;
    margin-right: 3%;
}

.weather-widget .weather-report {
    margin-left: 1.5%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.weather-widget .weather-report div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    margin-bottom: 0;
    /* margin-top: 20px; */
}

.weather-widget .days {
    position: relative;
    margin: 0 2.5% 0 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather-widget .days div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .container-5 {
    margin: 0 3% 0 3%;
} */

.container-5 .card p {
    display: inline-block;
}

.container-5 .card .more {
    margin-right: 1.5%;
    float: right;
}

.container-5 .section-card {
    margin: 1% 3% 0 3%;
    height: max-content;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.container-5 .section-card div {
    margin-bottom: 1.5%;
}

.container-5 .card p {
    margin-left: 2%;
    margin-right: 2%;
}

.dog-image {
    height: 85px;
    width: 120px;
    float: left;
    margin-right: 1%;
}

@media(max-width: 550px) {
    .tabs {
        display: none;
    }
    .image-box {
        height: 25rem;
    }
    .dog-headline-image img {
        height: 100%;
    }
    .image {
        height: 50px;
        width: 50px;
    }
    .title {
        flex: 2;
        font-family: sans-serif;
        font-size: 1rem;
        margin-left: 5px;
    }
    .news {
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        color: wheat;
        background-color: rgba(0, 0, 0, 0.5);
    }
    /* .headline {
        font-size: 11px;
    }
    .content {
        font-size: 6px;
    } */
    tr:nth-child(even) {
        background-color: #b7bbc2
    }
    th {
        background-color: rgb(102, 109, 129);
        color: white;
    }
}

@media(min-width: 550px) {
    .overflow {
        display: none;
    }
}

@media(min-width:550px) and (max-width: 900px) {
    .containers {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 1.5% 0 1.5%;
        /* width: 100%; */
    }
    .image-box {
        width: 50%;
        height: 25rem;
        order: 0;
    }
    .dog-headline-image img {
        height: 100%;
    }
    .weather-widget {
        margin: 0 0 0 0;
        width: 40%;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .weather-widget .weather-report div img {
        /* width: 75%; */
    }
    .weather-widget .weather-report div p {
        font-family: ''Courier New', Courier, monospace';
        font-size: 1.5rem;
        margin-bottom: 0;
        margin-top: 20px
    }
    .weather-widget .days div img {
        /* width: 75%; */
    }
    .weather-widget .days {
        /* height: 50%; */
        flex-wrap: wrap;
    }
    .news-list {
        width: 100%;
        order: 2;
    }
    table {
        order: 3;
        text-align: center;
    }
    tr:nth-child(even) {
        background-color: #b7bbc2
    }
    th {
        background-color: rgb(102, 109, 129);
        color: white;
    }
    .news {
        color: wheat;
        background-color: rgba(0, 0, 0, 0.5);
    }
}